body {
    background-color: yellow;
}

p {
  background-color: whitesmoke;
}
h1 {
    background-color: #ff0000;
  }
  
  h2 {
    background-color: #0000FF;
  }
  
  h3 {
    background-color: #00FF00;
  }
  
  em {
    background-color: #000000;
    color: #ffffff;
  }